.contact_form {
    padding-top: 16vh;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 60%;
    margin: 0 auto;
}

.sayHello {
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-bottom: 35px;
    text-align: left;
}

.blue-line {
    width: 100%;
    height: 2px;
    background-color: #00E0F9;
    margin-bottom: 60px;
}

.blue-line::before {
    content: "";
    height: 10px;
    width: 80px;
    border-radius: 0px 0px 3px 3px;
    position: relative;
    display: block;
    background-color: #00E0F9;
    z-index: 1;
    top: 0;
    left: 0;
}

.email-form {
    width: 100%;
    height: 60px;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
}

.email-form input {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    border: none;
    background-color: transparent;
    color: white;
    outline: none;
}

.email-form label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid gray;
    color: #B0B0B0;
    font-size: 16px;
}

.email-form label::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #00E0F9;
    left: 0px;
    bottom:  -1px;
    transform: translateX(-100%);
    transition: all 0.5s ease;
}

.content-email {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.5s ease;
}

.email-form input:focus + .label-text .content-email, .email-form input:valid + .label-text .content-email{
    transform: translateY(-150%);
    font-size: 14px;
    color: #8B8B8B;
}

.email-form input:focus  + .label-text::after, .email-form input:valid  + .label-text::after{
    transform: translateX(0%);
}

.contactForm button {
    padding: 16px 32px;
    background-color: #00E0F9;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 50px;
}

.button-send {
    font-size: 16px;
    font-weight: 500!important;
    color: #111111;
    font-family: Montserrat;
}

button img {
    margin-right: 6px;
}

form button:hover{
    background-color: #fff;
    transition: 0.1s ease-in;
}

@media (max-width: 768px) {
    .contact_form {
        width: 90%;
    }
}